.profile-wrapper {
  position: relative;
}
.profile-wrapper > div {
  position: absolute;
  top: calc(100% - 20px);
  width: 185px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: all 0.3s;
}
.profile-wrapper:hover > div {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.profile-wrapper li {
  list-style: none;
}

.profile-mobile-trigger{
  background: #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}