.btn {
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

.btn-extra-small{
  font-size: 13px;
  line-height: 22.75px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.btn-small {
  font-size: 13px;
  line-height: 22.75px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.btn-normal {
  font-size: 14px;
  line-height: 24.5px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.btn-large {
  font-size: 15px;
  line-height: 26.25px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.btn-over-large {
  font-size: 18px;
  line-height: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn:disabled{
  cursor: not-allowed;
}

/* vareint: contained, color: all ****************************/
.contained:disabled{
  background: #0000001F;
  color: #00000055;
  box-shadow: none;
}

/* vareint: text, color: all ****************************/
.text:disabled{
  color: #00000055;
  border: 1px solid #00000033;
  background: #fff;
}

/* vareint: contained, color: secondary ****************************/
.contained-secondary {
  background: #fff;
  color: #005900;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.contained-secondary:hover:not(:disabled){
  background: #e3eae3;
}
.contained-secondary:active:not(:disabled){
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* vareint: contained, color: inherited-text ****************************/
.contained-inherited-text {
  background: #ECEFF1;
  color: #000000DE;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.contained-inherited-text:hover:not(:disabled){
  background: #CFD8DC;

}
.contained-inherited-text:active:not(:disabled){
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* vareint: contained, color: error ****************************/
.contained-error {
  background: #D32F2F;
  color: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.contained-error:hover:not(:disabled){
  background: #C62828;
}
.contained-error:active:not(:disabled){
  background: #C62828;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* vareint: contained, color: info ****************************/
.contained-info {
  background: #0288D1;
  color: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.contained-info:hover:not(:disabled){
  background: #01579B;
}
.contained-info:active:not(:disabled){
  background: #01579B;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* vareint: contained, color: primary ****************************/
.contained-primary {
  background: #00BF40;
  color: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.contained-primary:hover:not(:disabled){
  background: #008000;
}
.contained-primary:active:not(:disabled){
  background: #008000;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* vareint: text, color: info ****************************/
.text-info{
  color: #0288D1;
  background: transparent;
}
.text-info:hover:not(:disabled){
  background: #0288D10A;
}
.text-info:active:not(:disabled){
  background: #0288D10A;
}

/* varient: text, color: inherit ****************************/
.text-inherit{
  color: #000000DE;
  background: transparent;
}
.text-inherit:hover:not(:disabled){
  background: #0000000A;
}
.text-inherit:active:not(:disabled){
  background: #0000000c;
}

/* varient: text, color: error ****************************/
.text-error{
  color: #D32F2F;
  background: transparent;
}
.text-error:hover:not(:disabled){
  background: #D32F2F0A;
}
.text-error:active:not(:disabled){
  background: #D32F2F0A;
}

/* varient: text, color: error ****************************/
.text-primary{
  color: #00BF40;
  background: transparent;
}
.text-primary:hover:not(:disabled){
  background: #00BF400A;
}
.text-primary:active:not(:disabled){
  background: #00BF40;
}