.wrapper {
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.menu-side {
  width: 300px;
  background: #fff;
  border-left: 1px solid #0000003b;
}

.main-side {
  max-width: calc(100vw - 305px);
}
