.wrapper {
  --menu-width: 300px;

  height: 100vh;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.menu-side {
  width: var(--menu-width);
  background: #fff; 
  border-left: 1px solid #0000003b;
  max-width: calc(100% - var(--menu-width));
  overflow: hidden;
}

.main-side main{
  /* max-height: calc(100vh - 75px);
  min-height: calc(100vh - 75px); */
}

.wrapper.small-menu-mode{
  --menu-width: 70px
}

.wrapper.small-menu-mode .menu-side li a span,
.wrapper.small-menu-mode .menu-side li span span{
  display: none;
}
.wrapper.small-menu-mode .menu-side li a,
.wrapper.small-menu-mode .menu-side li span{
  justify-content: center;
}
  .wrapper.small-menu-mode .menu-side li a svg,
  .wrapper.small-menu-mode .menu-side li span svg{
  margin: 0 !important;
}