.task-gp-wrapper {
}

.task-gp {
}

/**************************/
.task-gp-wrapper.static-cols-count {
  display: flex;
  justify-content: space-between;
}
.task-gp-wrapper.static-cols-count .task-gp {
  flex-grow: 1;
  max-width: calc((100% - (3 * 16px)) / 4);
}

.task {
  background: #eee;
  border-radius: 8px;
}

.add-task-field input {
  --padding: 8px;
  padding-top: var(--padding) !important;
  padding-bottom: var(--padding) !important;
}
