.boards-wrap > div {
  width: calc((100% - 36px) / 4);
}

.task-gp-wrapper {
}

.task-gp {
}

.task-item {
  cursor: pointer;
  background: #eee;
}
/**************************/
.task-gp-wrapper.static-cols-count {
  display: flex;
  justify-content: space-between;
}
.task-gp-wrapper.static-cols-count .task-gp {
  flex-grow: 1;
  max-width: calc((100% - (3 * 16px)) / 4);
}

.task {
  background: #eee;
  border-radius: 8px;
  cursor: pointer;
}

.add-task-field input {
  --padding: 8px;
  padding-top: var(--padding) !important;
  padding-bottom: var(--padding) !important;
}

.row-search-wrapper svg {
  position: relative;
  right: -20px;
}

.task-row-article{
  border-radius: 4px;
}
.task-row-article:hover{
  background: #eee;
}
